         <!--footer code-->
         <footer class="container-fluid py-5 top-shadow d-flex justify-content-center">
            <div class="row ">
              <div class="image-ft ml-3 pr-1">
                <img src="/images/brochure.png" width="439" height="400" class="mr-3 img-fluid">
              </div>
        
              <div class="col-6 col-md mt-5 ml-5 justify-content-center">
                <img alt="LinkedIn" data-type="image" itemprop="image" style="width: 46px; height: 46px; object-fit: cover;"
                  src="https://static.wixstatic.com/media/6ea5b4a88f0b4f91945b40499aa0af00.png/v1/fill/w_46,h_46,al_c,q_85,usm_0.66_1.00_0.01/6ea5b4a88f0b4f91945b40499aa0af00.webp">
                <a href="https://twitter.com" target="blank">
                  <img id="twit"
                    src="https://static.wixstatic.com/media/c7d035ba85f6486680c2facedecdcf4d.png/v1/fill/w_46,h_46,al_c,q_85,usm_0.66_1.00_0.01/c7d035ba85f6486680c2facedecdcf4d.webp"
                    alt="Twitter">
                </a>
                <p class="text-small ft-1 mt-3 mb-0">For a brief overview of our services, the benefits we</p>
                <p class="text-small ft-1 mb-0">offer and an introduction to the team please</p>
                <p class="text-small ft-1 mb-0">download our brochure</p>
                <p>&nbsp;</p>
                <p class="mb-0 down">DOWNLOAD</p>
                <a href="https://f3705a39-6d5a-4b23-bc1f-bd468b524b20.filesusr.com/ugd/0dae51_4faa15b056af4cc08227880391a6e2b7.pdf"
                  id="brochure-link" class="mt-0 broch" target="blank" alt="Aries Brochure">THE ARIES INSIGHT BROCHURE</a>
                <p>&nbsp;</p>
                <p class="text-small ft-2">Privacy Policy &nbsp;&nbsp;&nbsp; Cookies </p>
                <p>&nbsp;</p>
                <small class="d-block mb-3 text-ft">
                  © Website Content Copyright 2020 Aries Insight. All rights reserved
                </small>
                <small class="d-block mb-0 text-ft">
                  Registered Office: Aries House, 29c Station Road, Desborough, Northants NN14 2RL
                </small>
                <small class="d-block mb-3 text-ft">
                  Registered No: 3383538 . VAT Registration No: 701 4848 52
                </small>
        
                <small class="d-block mb-0 text-ft">
                  Aries Insight is a trading name and Aries Pensions® is a registered trademark of Aries
                </small>
                <small class="d-block mb-3 text-ft">
                  Pension & Insurance Systems Ltd
                </small>
              </div>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
        
        
        
        
            </div>
        
          </footer>
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.</div>js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        </body>
        
        </html>
