<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8ec9845f5b.js" crossorigin="anonymous"></script>
  <title ><%= title %></title>
</head>

<body>

  <!-- navbar -->
  <nav id="nav" class="navbar navbar-expand-lg fixed-top">

    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">   
        <i class="fas fa-bars"></i>
    </span>
    </button>
    <div class="container  d-block ">
      <img
        src="https://static.wixstatic.com/media/0dae51_73c5e0515cea4e43b024b7810675cf1e~mv2_d_1357_1357_s_2.png/v1/crop/x_247,y_192,w_925,h_409/fill/w_236,h_104,al_c,q_85,usm_0.66_1.00_0.01/Aries%20logo%20WS.webp">
      
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav mb-2 mt-2">
          <a class="nav-item nav-link active px-3" href="/">HOME <span
              class="sr-only">(current)</span></a>
          <a class="nav-item nav-link px-3"
            href="/benefits">BENEFITS</a>
          <a class="nav-item nav-link px-3"
            href="/endorsements">ENDORSEMENTS
            <a class="nav-item nav-link px-3" href="https://ariesinsight.wixsite.com/mysite/clients">CLIENTS</a>
          </a>
          <a class="nav-item nav-link px-3" href="/features">FEATURES</a>
          <a class="nav-item nav-link px-3" href="/news">NEWS</a>
          <a class="nav-item nav-link px-3" href="/videos">VIDEOS</a>
          <a class="nav-item nav-link px-3" href="https://ariesinsight.wixsite.com/mysite/team">ABOUT US</a>
          <a class="nav-item nav-link px-3" href="https://ariesinsight.wixsite.com/mysite/members-log-in">MEMBERS
            LOG-IN</a>
          <a class="nav-item nav-link px-3" href="https://ariesinsight.wixsite.com/mysite/contact">CONTACT</a>
        </div>
      </div>
  </nav>
  </div>
  <div class="spacer">
    &nbsp;
  </div>