<%- include("partials/header") %>


<div id="ben" class="jumbotron jumbotron-fluid col-12 mb-0 mt-5 pb-0 pt-0">
    <img src="/images/ENDORSEMENTS-100.jpg" class="img-fluid " id="jumbo" alt="It doesnt work ):">
  </div>

  <div id="greenDiv" class="align-items-center container-fluid col-12 pt-3 pb-3 ">
    <h1 class="text-responsive mt-4 mb-3">CLIENT ENDORSEMENTS <BR> OF ARIES INSIGHT</h1>
    </div>

    <div id="back" class="container-fluid">      
        <div id="back" class="d-flex container flex-md-row justify-content-between flex-column">
          <div class=" col-12 col-md-5 col-12 ">
            <h3 class="first mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, adipisci.</h3>
            <br>
            <p class="first"><em>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, corrupti."</em></p>
            <p class="first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos culpa provident incidunt id aliquid saepe consequuntur quaerat quam libero expedita dicta impedit omnis similique maiores temporibus, dolorem modi voluptas! Voluptas suscipit, totam, quam illum quis sapiente maxime deserunt dolor nisi id, in animi delectus nesciunt enim labore voluptatem excepturi illo?</p>
          </div>

          
          <div class=" col-12 col-md-5 ">
            <hr class="d-md-none" style="height:2px;border-width:0;color:gray;background-color:gray">
            <h3 class="first mt-5">Lorem ipsum dolor sit amet.</h3>
            <br>
            <p class="first">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis quam reprehenderit accusantium nesciunt ex reiciendis obcaecati repellat suscipit quia. Possimus modi totam consectetur non fugiat aperiam dolorem doloremque nemo laboriosam laborum iusto at, minima a placeat animi sit est. Dolor quia et dolorum ipsum sapiente fuga aliquam dignissimos corrupti itaque, maiores quasi quod in nesciunt eius placeat obcaecati iusto odio, repellat, totam velit deserunt consequatur? Cumque molestiae ducimus rerum aliquam aspernatur quidem, non eum amet reprehenderit sequi voluptate accusamus obcaecati architecto nemo. Quia doloremque earum quis dolores aspernatur nemo itaque. Veritatis deleniti odio, quia amet voluptatum cupiditate iusto beatae error!</p>
          </div>
         </div> 
        </div>
    </div>
<%- include("partials/footer") %>