<%- include("partials/header") %>


<div id="ben" class="jumbotron jumbotron-fluid col-12 mb-0 mt-5 pb-0 pt-0">
    <img src="/images/ENDORSEMENTS-100.jpg" class="img-fluid " id="jumbo" alt="It doesnt work ):">
  </div>

  <div id="greenDiv" class="align-items-center container-fluid col-12 pt-3 pb-3 ">
    <h1 id="center" class="text-responsive mt-4 mb-3">THE FEATURES OF<BR>  ARIES INSIGHT</h1>
    </div>

    <div id="back" class="container-fluid">      
        <div id="back" class="d-flex container flex-md-row justify-content-between flex-column">
          <div class=" col-12 col-md-5 col-12 ">
            <div id="greenDiv" class="mt-5">
                <h3 class="first">Insight</h3>
          </div>
          <p class="first"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, beatae?</em></p>
          <p class="first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium qui eligendi perferendis optio pariatur, ipsum ipsam et labore, iusto nam voluptates, quod ea commodi animi? Magnam repellat molestiae quae nulla!</p>

          <div id="greenDiv" class="mt-5">
            <h3 class="first">Insight</h3>
      </div>
      <p class="first"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, beatae?</em></p>
      <p class="first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium qui eligendi perferendis optio pariatur, ipsum ipsam et labore, iusto nam voluptates, quod ea commodi animi? Magnam repellat molestiae quae nulla!</p>

      <div id="greenDiv" class="mt-5">
        <h3 class="first">Insight</h3>
  </div>
  <p class="first"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, beatae?</em></p>
  <p class="first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium qui eligendi perferendis optio pariatur, ipsum ipsam et labore, iusto nam voluptates, quod ea commodi animi? Magnam repellat molestiae quae nulla!</p>
        </div>

          
        <div class=" col-12 col-md-5 col-12 ">
            <div id="greenDiv" class="mt-5">
                <h3 class="first">Insight</h3>
          </div>
          <p class="first"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, beatae?</em></p>
          <p class="first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium qui eligendi perferendis optio pariatur, ipsum ipsam et labore, iusto nam voluptates, quod ea commodi animi? Magnam repellat molestiae quae nulla!</p>

          <div id="greenDiv" class="mt-5">
            <h3 class="first">Insight</h3>
      </div>
      <p class="first"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, beatae?</em></p>
      <p class="first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium qui eligendi perferendis optio pariatur, ipsum ipsam et labore, iusto nam voluptates, quod ea commodi animi? Magnam repellat molestiae quae nulla!</p>

      <div id="greenDiv" class="mt-5">
        <h3 class="first">Insight</h3>
  </div>
  <p class="first"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, beatae?</em></p>
  <p class="first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium qui eligendi perferendis optio pariatur, ipsum ipsam et labore, iusto nam voluptates, quod ea commodi animi? Magnam repellat molestiae quae nulla!</p>
        </div>
         </div> 
        </div>
    </div>
<%- include("partials/footer") %>