<%- include("partials/header") %>

  <!-- center jumbo -->
  <div class="back-div  container-fluid col-12">
    <div id="img-div" class="d-flex align-items-center">
      <img
        src="https://static.wixstatic.com/media/0dae51_0dedea6193004dffb99fb159e4a1ec44~mv2_d_3708_1433_s_2.png/v1/fill/w_600,h_232,al_c,q_85,usm_0.66_1.00_0.01/Artboard%201-8.webp"
        alt="" class="rounded img-fluid mt-7">
    </div>

    <p class="im-text d-flex align-items-center mb-0"><strong>THE PENSIONS INDUSTRY’S ONE-STOP</strong></p>
    <p class="im-text d-flex align-items-center mt-0"><strong> INTELLIGENCE RESOURCE</strong></p>
    <p class="txt-2 d-flex align-items-center mb-0">Clear and practical guidance to help you stay compliant
      with
      current</p>
    <p class="txt-2 d-flex align-items-center mt-0 mb-5"> pensions legislation. <br> </p>
    <div id="button-div" class="align-items-center">
      <button id="yel" type="button" class="btn btn-lg mt-2 mb-5">Contact Us</button>
    </div>
  </div>


  <div id="back" class="container-fluid">
    <div id="col" class="container mt-0">
      <h1 class="mt-5 mb-4">ARIES INSIGHT</h1>

      <p class="first"><em>“The best pension brains available to us on a daily basis, hundreds of years of experience
          and expertise
          available to us
          at our fingertips”
          ​</em></p>
      <p class="first">Pensions legislation is subject to continual change. With every new development the complexity
        grows, and it’s
        left to
        the pensions industry to navigate its way through the regulatory minefield. Aries Insight supplies not just what
        the law
        says, but what this means in practice, who it relates to and how each requirement interacts with others. We
        provide
        insight into complex tax and benefits issues for all types of pension arrangements.</p>
      <p class="mt-2 first">Aries Insight provides concise, accurate and readily accessible guidance on every aspect of
        pensions legislation.</p>
      <p class="first">Around 120 pensions providers, administrators and consultants across the industry rely on our
        comprehensive
        technical
        support to keep up to date and remain legally compliant. We’re recognised as an industry leader, with over 30
        years’
        experience; no other provider can match the breadth and depth of expertise at Aries Insight. Underpinning the
        huge
        online knowledge-base and technical forum, our in-house experts are available to research any extra information
        you
        need, at no extra cost.

        ​</p>
      <p class="first"><em>“Aries is not driven by commercial interests; they have an independent and unfettered point
          of view”</em>
      </p>
      <p>&nbsp;</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container align-items-center mt-3">
      <iframe src="https://player.vimeo.com/video/377586225/" width="612" height="567" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen></iframe>

    </div>
  </div>
<!-- Cardish type things on  green -->
  <div id="green" class="container-fluid ">
    <div class="container d-flex justify-content-around ">
      
      <div class="row col-12 justify-content-center">
        <div id="border" class="col-lg-4 col-12 pr-0">
          <h3 class="mt-4">FEATURES</h3>
          <P class="sem-tit mt-3">INSIGHT CREATED</P>
          <p class="sem-tit2 mb-5">The features that create<br> Aries Insight</p>
        
          <button type="button" class="btn btn-lg btn-dark align-self-end  mb-5">READ MORE</button>
        </div>
       
        
       
        <div id="border" class="col-lg-4 col-12 pl-3 justify-content-lg-center ">
          <h3 class="mt-4">BENEFITS</h3>
          <P class="sem-tit mt-3">INSIGHT DELIVERED</P>
          <p class="sem-tit2 mb-5">The Aries Pensions Systems<br> Clubroom and Help Desk</p>
          <button type="button" class="btn btn-lg btn-dark align-self-end  mb-5">READ MORE</button>
        </div>

      
        <div class="col-lg-4 col-12 ">
          <h3 class="mt-4">ENDORSEMENTS</h3>
          <P class="sem-tit mt-3">INSIGHT EXPERIENCED</P>
          <p class="sem-tit2 mb-5">The Benefits Aries <br>  Insight delivers</p>
          <button type="button" class="btn btn-lg btn-dark mb-5">READ MORE</button>
        </div>
   </div>
  </div>
</div>

 
<%- include("partials/footer") %>