<%- include("partials/header") %>




  <div id="greenDiv" class="align-items-center container-fluid col-12 pt-5 pb-5 mt-5">
    <h1 class="text-responsive mt-5 mb-5">ARIES NEWS</h1>
    </div>

    <div id="back" class="container-fluid">      
        <div id="back" class="d-flex container flex-md-row justify-content-around flex-column">
          <div class=" col-12 col-md-5 col-12 ">
            <div class="card mb-3 mt-5">
                <img src="/images/test.jpg" class="card-img-top img-thumbnail" alt="..." >
                <div class="card-body">
                  <h5 class="card-title"><em>Budget 2020:getting done levelling up</em></h5>
                  <p class="card-text">Brief introduction to what the article as is about - perhaps add a button to read more</p>
                  <p class="card-text"><small class="text-muted">Published on (Date)</small><button type="button" class="btn btn-sm ml-7 btn-outline-primary">Read the article</button></p>
                </div>
              </div>
              <div class="card mb-3">
                <img src="/images/test.jpg"" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><em>Budget 2020:getting done levelling up</em></h5>
                  <p class="card-text">Brief introduction to what the article as is about - perhaps add a button to read more</p>
                  <p class="card-text"><small class="text-muted">Published on (Date)</small><button type="button" class="btn btn-sm ml-7 btn-outline-primary">Read the article</button></p>
                </div>
              </div>
              <div class="card mb-3">
                <img src="/images/test.jpg"" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><em>Budget 2020:getting done levelling up</em></h5>
                  <p class="card-text">Brief introduction to what the article as is about - perhaps add a button to read more</p>
                  <p class="card-text"><small class="text-muted">Published on (Date)</small><button type="button" class="btn btn-sm ml-7 btn-outline-primary">Read the article</button></p>
                </div>
              </div>
          </div>

          
          <div class=" col-12 col-md-5 ">
            <div class="card mb-3 mt-5">
                <img src="/images/test.jpg"" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><em>Budget 2020:getting done levelling up</em></h5>
                  <p class="card-text">Brief introduction to what the article as is about - perhaps add a button to read more</p>
                  <p class="card-text"><small class="text-muted">Published on (Date)</small><button type="button" class="btn btn-sm ml-7 btn-outline-primary">Read the article</button></p>
                </div>
              </div>
              <div class="card mb-3">
                <img src="/images/test.jpg"" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><em>Budget 2020:getting done levelling up</em></h5>
                  <p class="card-text">Brief introduction to what the article as is about - perhaps add a button to read more</p>
                  <p class="card-text"><small class="text-muted">Published on (Date)</small><button type="button" class="btn btn-sm ml-7 btn-outline-primary">Read the article</button></p>
                </div>
              </div>
              <div class="card mb-5">
                <img src="/images/test.jpg"" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><em>Budget 2020:getting done levelling up</em></h5>
                  <p class="card-text">Brief introduction to what the article as is about - perhaps add a button to read more</p>
                  <p class="card-text"><small class="text-muted">Published on (Date)</small><button type="button" class="btn btn-sm ml-7 btn-outline-primary">Read the article</button></p>
                </div>
              </div>
         </div> 
        </div>
    </div>
<%- include("partials/footer") %>