<%- include("partials/header") %>


<div id="greenDiv" class="align-items-center container-fluid col-12 pt-4 pb-4 mt-5 ">
    <h1 class="text-responsive mt-5 mb-5">ARIES VIDEOS & VLOGS</h1>
    </div>

 
    <div id="back" class="container-fluid">      
        <div id="back" class="container max-vh-25 min-vw-75 pt-5 mb-5">
            <div class="container all-shadow h-25 w-75 px-5 ">
            <img src="/images/turtle.jpg" class="img-responsive mb-5 mt-5 w-100 mh-25" alt="">
        </div>
        </div>

        <div id="back" class="container max-vh-25 min-vw-75 mt-5 mb-5">
            <div class="container all-shadow h-25 w-75 px-5">
            <img src="/images/turtle.jpg" class="img-responsive mb-5 mt-5 w-100 mh-25" alt="">
        </div>
        </div>

        <div id="back" class="container max-vh-25 min-vw-75 mt-5 mb-5">
            <div class="container all-shadow h-25 w-75 px-5">
            <img src="/images/turtle.jpg" class="img-responsive mb-5 mt-5 w-100 mh-25" alt="">
        </div>
        </div>

        </div>
<%- include("partials/footer") %>